body,
header,
main,
footer {
    background-color: rgb(215, 227, 237);
    padding: 20px;       
    margin: 0 0 20px 0;  
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(38, 42, 45);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: auto;
    margin-bottom: 20px;
}

nav {
    background-color: rgb(215, 227, 237);
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    /* float removed since flex is used */
}

nav ul li a {
    display: block;
    color: rgb(26, 28, 31); 
    text-align: center;
    padding: 18px 22px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: rgb(187, 198, 207);
}

section {
    max-width: 600px;
    margin: 50px auto;
}

article {
    margin-bottom: 50px;
    line-height: 1.6;
}

article img {
    display: block;
    margin: 0 auto 30px auto;
}
